<%= form_for(@poll) do |f| %>

  <% if @poll.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> must be corrected before you can create this poll:</h2>
      <ul>
      <% @poll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :question, placeholder: "Question" %>
  <%= f.text_area :content, placeholder: "Description" %>
  <%= f.fields_for :poll_options do |builder| %>
    <fieldset class="poll_option">
      <legend>Option</legend>
        <%= builder.text_field :label, placeholder: "Label" %>
        <%= text_field_tag :color, nil, class: "color_input", placeholder: "Click to choose a color", readonly: "true" %>
        <%= builder.hidden_field :color, class: "color_hidden_input" %>
    </fieldset>
  <% end %>
    <%= button_tag "+", class: "link_to_add_poll_option", type: "button" %>
    <%= button_tag "-", class: "delete_button link_to_remove_poll_option", type: "button" %>
    <%= f.submit %>
<% end %>
