<h1><%= @poll.question %></h1>
<h5>Asked <%= time_ago_in_words(@poll.created_at) %> ago by <%= link_to @poll.user.name, @poll.user, rel: "author" %></h5>

<% if !@poll.content.blank? %>
  <%= @poll.content %>
<% end %>

<%= form_for(@poll_vote) do |f| %>
  <% if @poll_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll_vote.errors.count, "error") %> prohibited this poll_vote from being saved:</h2>
      <ul>
      <% @poll_vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :poll_id, value: @poll_vote.poll_id %>
  <%= f.hidden_field :user_id, value: @poll_vote.user_id %>
  <% @poll.poll_options.each do |poll_option| %>
    <p>
      <% if signed_in? %>
        <%= f.radio_button :poll_option_id, poll_option.id %>
      <% end %>
      <span style="color: <%= poll_option.color %>"><%= poll_option.label %></span> (<%= poll_option.poll_votes.size %>)
    </p>
  <% end %>
  <% if signed_in? %>
    <div class="actions">
      <%= f.submit 'Vote' %>
    </div>
  <% end %>
<% end %>


<% if signed_in? && current_user.id == @poll.user_id %>
  <%= link_to 'Delete Poll', @poll, method: :delete, data: { confirm: 'Are you sure you want to delete this poll?' } %>
<% end %>

<% if signed_in? %>
  <%= render 'comments/form' %>
<% end %>

<% if @comments.present? %>
  <%= select_tag "filter", options_from_collection_for_select(@poll.poll_options, "id", "label", params[:filter]), prompt: 'All' %>
<% end %>

<% @comments.each do |comment| %>
  <div class="comment" style="border-left: solid 4px <%= comment.color %>">
    <p>
      <%= comment.content %>
    </p>
    <h5>
      Posted <%= time_ago_in_words(comment.created_at) %> ago by <%= link_to comment.user.name, comment.user, rel: "author" %>
      <% if signed_in? && current_user.id == comment.user.id %>
         | <%= link_to 'Delete Comment', comment, method: :delete, data: { confirm: 'Are you sure you want to delete this comment?' } %>
      <% end %>
    </h5>
  </div>
<% end %>
