<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @poll.question %>
</p>

<p>
  <b>Content:</b>
  <%= @poll.content %>
</p>

<p>
  <b>User:</b>
  <%= @poll.user_id %>
</p>

<% @poll.poll_options.each do |poll_option| %>
  <p>
    <%= poll_option.label %>
  </p>
<% end %>


<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
