<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<p>
  <b>Question:</b>
  <%= @poll.question %>
</p>

<p>
  <b>Content:</b>
  <%= @poll.content %>
</p>

<p>
  <b>User:</b>
  <%= @poll.user.name %>
</p>


  <%= form_for(@poll_vote) do |f| %>
    <% if @poll_vote.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@poll_vote.errors.count, "error") %> prohibited this poll_vote from being saved:</h2>

        <ul>
        <% @poll_vote.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.hidden_field :poll_id, value: @poll_vote.poll_id %>
    <%= f.hidden_field :user_id, value: @poll_vote.user_id %>
    <%= f.label :poll_option_id %>
    <% @poll.poll_options.each do |poll_option| %>
      <p>
        <% if signed_in? %>
          <%= f.radio_button :poll_option_id, poll_option.id %>
        <% end %>
        <span style="color: <%= poll_option.color %>"><%= poll_option.label %></span> (<%= poll_option.poll_votes.size %>)
      </p>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>


<% if signed_in? && current_user.id == @poll.user_id %>
  <%= link_to 'Delete', @poll, method: :delete, data: { confirm: 'Are you sure you want to delete this poll?' } %> |
<% end %>
