<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @vote.user_id %>
</p>

<p>
  <b>Poll:</b>
  <%= @vote.poll_id %>
</p>

<p>
  <b>Option:</b>
  <%= @vote.option %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
